* {
   /* border: 1px solid red;  */
   /* border used to visualize CSS boxes during dev stages */
   font-family: 'Nunito', sans-serif;
   font-family: 'Ubuntu Condensed', sans-serif;
   background-color: whitesmoke;
   color: blue;
}

ul {
   padding: 0px;
}

li {
   list-style-type: none;
   line-height: 30px;
}

.h1 {
   color: blue;
}

img {
   border: 1px solid #ddd;
   border-radius: 6px;
   max-width: 250px;
   height: auto;
}